*{
  box-sizing: border-box;
}

.container{
  max-width: 1030px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  display: block;
  color: #fff;
}

.img{
  max-width: 300px;
  max-height: 220px;
  margin-bottom: 10px;
  position: relative;
}

.wrapper{
  font-family: 'Roboto', sans-serif;
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.travel-header-wrap{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo:hover{
  color: #F26522;
  filter: brightness(0) saturate(100%) invert(46%) sepia(50%) saturate(2907%) hue-rotate(350deg) brightness(100%) contrast(91%);
}

h1{
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  margin-left: 10px;
  padding-top: 7px;
}

.logo-text{
  font-weight: 700;
  font-size: 29px;
  display: block;
}

.contacts{
  text-align: right;
}

.mail{
  margin-bottom: 20px;
}

.mail:hover,
.tel:hover{
  color: #F26522;
}

.travel-main-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 15px;
}

.link-travel{
  font-size: 18px;
  line-height: 18px;
}

.link-travel p{
  margin-top: 20px;
  margin-bottom: 22px;
}

.travel-main-item{
  position: relative;
}

.details{
  background-color: #F26522;
  width: 100%;
  height: 55px;
  bottom: 75px;
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
}

.travel-main-item:hover a{
  color: #F26522;
}

.travel-main-item:hover .details{
  opacity: 1;
  color: #fff;
}

.price{
  position: relative;
}

.from{
  font-size: 10px;
  line-height: 1;
  position: absolute;
  left: 10px;
  bottom: 2px;
}

.euro{
  font-size: 20px;
  line-height: 1;
  position: absolute;
  left: 10px;
  top: 7px;
}

.view{
  font-size: 14px;
  line-height: 1;
  position: absolute;
  top: 10px;
  right: 30px;
}

.view:after{
  content: url(../img/vector.svg);
  padding-left: 15px;
}

.travel-footer{
  padding-bottom: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
